before_script:
  - apt-get update -qq
  - apt-get install -y libglu1-mesa-dev

r-base:
   stage: test
   image: rocker/tidyverse
   script:
    - Rscript -e 'devtools::install_dev_deps()'
    - R CMD build . --no-build-vignettes --no-manual
    - PKG_FILE_NAME=$(ls -1t *.tar.gz | head -n 1)
    - R CMD check "${PKG_FILE_NAME}" --as-cran --no-build-vignette --no-manual
